@import './variables';
@import './mixins';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: $c-dark-1;
    background-color: #fff5ee;
    font-family: $f-primary;
    position: relative;

    // Delete this after
    min-height: 3000px;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        min-height: 1600px;
        height: 100%;
        z-index: 1;
        @include backgroundProperty(center, contain);
    }

    &::before {
        background-image: url('/images/shapes/background-shape-1.svg');
        top: 0;
        left: 0;
        z-index: -1;
    }

    &::after {
    }
}

.swiper {
    &-slide {
        padding: 20px 0;
    }
}
