@import '../../styles/mixins';
@import '../../styles/variables';

.nav {
    &__container {
        @include rowStyles;
        padding: 20px 0;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__logo {
        color: $c-grey;
        font-size: 22px;
        font-weight: 700;
        font-style: italic;
        position: relative;
        display: inline-block;
        padding: 5px 0;
        text-decoration: none;
        cursor: pointer;
        z-index: 0;
        position: relative;

        &:before,
        &:after {
            content: '';
            height: 3px;
            width: 60px;
            position: absolute;
            background-color: $c-orange-primary;
            transition: left 0.3s ease-out, right 0.3s ease-out;
        }

        &:before {
            top: 0;
            right: 0;
        }

        &:after {
            bottom: 0;
            left: 0;
        }

        &:hover {
            &::before {
                right: calc(100% - 60px);
            }

            &::after {
                left: calc(100% - 60px);
            }
        }
    }

    &__theme {
        height: 45px;
        width: 63px;
        border: 3px solid $c-orange-primary;
        display: inline-block;
        margin-left: auto;
        border-radius: 50px;
        background-color: rgba($c-orange-primary, 0.5);
        display: flex;
        align-items: center;
        padding-inline: 3px;
        transition: background-color 0.75s ease;
        cursor: pointer;
        z-index: 0;
        position: relative;

        &-icon {
            background-color: $c-white;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            position: relative;
            padding: 5px;
            transition: all 0.75s ease;

            &::before {
                content: '';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: 80%;
                width: 80%;
                background-image: url('/images/theme-light.png');
                -o-object-fit: contain;
                object-fit: contain;
                @include backgroundProperty(center, contain);
                transition: background-image 0.75s ease;
            }
        }

        &--dark {
            background-color: $c-grey;

            .nav__theme-icon {
                transform: translateX(17px) rotate(360deg);

                &::before {
                    background-image: url('/images/theme-dark.png');
                }
            }
        }
    }

    &__button {
        height: 60px;
        width: 60px;
        background-color: $c-white;
        border-radius: 50px;
        box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-left: 40px;
        cursor: pointer;
        z-index: 2;
        transition: all 0.2s ease;

        &:hover {
            transform: translateY(-3px);
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.25);
        }

        &:active {
            transform: translateY(-2px);
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        }

        span {
            border-radius: 3px;
            width: 35px;
            height: 5px;
            background-color: $c-grey;
            display: inline-block;
            transition: all 0.3s ease;

            &:nth-child(2) {
                margin: 5px 0;
            }
        }
    }

    &__list-wrapper {
        width: 100%;
        min-height: 100%;
        max-height: 100%;
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        background-image: linear-gradient(247.13deg, #d03c3c 0%, #d03c3c 50%, #fab464 100%);
        z-index: 0;
        transition: all 0.4s ease-in-out;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
        transform: rotate(-90deg);
        transform-origin: top right;
    }

    &__list {
        list-style: none;
        margin-bottom: 30px;
        text-align: center;
        transform: translateX(-100px);
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__item {
            position: relative;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            text-align: center;
            padding-bottom: 5px;

            &:not(:last-of-type) {
                margin-bottom: 30px;
            }

            &:before {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                max-width: 0;
                min-width: 0;
                height: 3px;
                background-color: $c-white;
                display: block;
                transition: all 0.3s ease;
            }

            &:hover {
                &::before {
                    max-width: 100%;
                    min-width: 100%;
                }
            }
        }

        &__link {
            color: $c-white;
            text-decoration: none;
            font-size: 30px;
            line-height: 36px;
            text-transform: uppercase;
            font-weight: 700;
            position: relative;
        }

        &__button {
            padding: 15px 30px;
            color: $c-grey;
            font-size: 30px;
            line-height: 36px;
            text-transform: uppercase;
            font-weight: 700;
            background-color: $c-white;
            border-radius: 50px;
            text-decoration: none;
            opacity: 0;
            transition: background-color 0.2s ease, color 0.2s ease;
            transform: translateX(-100px);

            &:hover {
                background-color: $c-grey;
                color: $c-white;
            }
        }
    }

    &__full-screen {
        .nav {
            &__button {
                position: relative;

                span {
                    &:nth-child(1) {
                        transform: rotate(45deg);

                        left: 0px;
                        top: 9px;
                        position: relative;
                    }

                    &:nth-child(2) {
                        transform: translateX(-10px);
                        opacity: 0;
                    }

                    &:nth-child(3) {
                        transform: rotate(-45deg);

                        bottom: 10px;
                        position: relative;
                        left: 0px;
                    }
                }
            }

            &__list-wrapper {
                transform: rotate(0);
            }

            &__list,
            &__list__button {
                transform: translateX(0);
                opacity: 1;
                transition: transform 0.5s ease 0.3s, opacity 0.5s ease 0.3s;
            }
        }
    }
}
